In [1]:
import pandas as pd

## Importar CSV

In [10]:
df = pd.read_csv(r'../Datasets+IPA/iris_dataset.csv', delimiter=",",encoding="ISO-8859-1",index_col=0,header=0)

In [11]:
df.head()

                  anchura_sépalo  longitud_pétalo  anchura_pétalo        clase
longitud_sépalo
5.1                          3.5              1.4             0.2  Iris-setosa
4.9                          3.0              1.4             0.2  Iris-setosa
4.7                          3.2              1.3             0.2  Iris-setosa
4.6                          3.1              1.5             0.2  Iris-setosa
5.0                          3.6              1.4             0.2  Iris-setosa

## Importar Excel

In [12]:
df2 = pd.read_excel(r'../Datasets+IPA/Distrito_poblacion.xlsx',sheet_name="Distrito_poblacion")

In [13]:
df2.head()

          DISTRITO  Población_Distrito
0       Arganzuela              151965
1           Centro              149718
2         Chamberí              137401
3  Moncloa-Aravaca              116903
4           Latina              233808