In [3]:
import pandas as pd

In [5]:
df1 = pd.read_csv(r'C:\Users\sergi\Documents\curso_automatizacion\Intelligent_Process_Automation\Datasets+IPA\iris_dataset.csv', delimiter=",",encoding="ISO-8859-1",header=0)

In [6]:
df1.head()

,longitud_sépalo,anchura_sépalo,longitud_pétalo,anchura_pétalo,clase
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [7]:
df1['area_sepalo']=df1['longitud_sépalo']*df1[' anchura_sépalo']*3.14

In [8]:
df1.head()

,longitud_sépalo,anchura_sépalo,longitud_pétalo,anchura_pétalo,clase,area_sepalo
0,5.1,3.5,1.4,0.2,Iris-setosa,56.0490
1,4.9,3.0,1.4,0.2,Iris-setosa,46.1580
2,4.7,3.2,1.3,0.2,Iris-setosa,47.2256
3,4.6,3.1,1.5,0.2,Iris-setosa,44.7764
4,5.0,3.6,1.4,0.2,Iris-setosa,56.5200

In [9]:
df1.to_excel(r'C:\Users\sergi\Documents\curso_automatizacion\Intelligent_Process_Automation\Datasets+IPA\iris_dataset_calc.xlsx',sheet_name='Iris_mod')